infos/journal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="journal">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="article">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titre" type="xs:string" />
              <xs:element name="auteur" type="xs:string" />
              <xs:element name="contenu" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>